@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="https://www.psdstamps.com/wp-content/uploads/2019/11/grunge-coming-soon-label-png.png" alt="Generic placeholder image" width="1000" height="800">

    </div>
