@model Survello.Web.Models.DocumentAnswerViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>DocumentAnswerViewModel</h4>
<hr />
<div class="row">
    <div class="control">
        <form method="post" enctype="multipart/form-data" asp-controller="Blob" asp-action="Create">
            <div id="Uploadbox" class="form-group">
                <label> Select File </label>
                <input class="form-control" name="files" multiple="multiple" type="file" />
                    <br />
                <input class="btn btn-success" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>

//TODO: update with the input file limit!
<script>
    $("#UploadDefault").ejUploadbox({
        saveUrl: "save.ashx",
        removeUrl: "removeFiles.ashx",
        error: "error",
        fileSize: 1048576 //bytes
    });
    function error(e, ui) {
        alert(e.error);
    }
</script>