/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    margin: auto;
    padding: 14px;
}

body {
    /*padding-top: 70px;*/ /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Segoe UI', sans-serif;
    color: black;
}



/*Create form buttons*/
.button-remove {
    background-color: white;
    color: darkgrey;
    border: 2px solid darkgrey; /* Green */
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

div.outside {
    margin: 30px;
}

div.text-input {
    display: inline-block;
    background-color: black;
    color: white;
    width: 300px;
    white-space: normal;
}

.input-container {
    white-space: nowrap;
}

.button-custom {
    background-color: darkcyan; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* Green */

/*Home*/
.section-home {
    height: 600px;
    background: url(https://templatemo.com/templates/templatemo_537_art_factory/assets/images/banner-bg.png) center center no-repeat;
    background-size: 100% 100%;
    position: relative;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*Back stop stop button*/
.container-button {
  justify-content: space-between;
  flex-direction: column;
  text-align: right;
  display: flex;
}
.container-button .btn-holder {
  justify-content: flex-end;
  display: flex;
}
