<div class="welcome-area" id="welcome">

    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <br />
                    <br />
                    <h3 style="color:darkcyan">Gathering all the information you need <br /><strong>is only a couple of clicks away</strong></h3>
                    <br />
                    <br />
                    <a asp-controller="Form" asp-action="Create" class="btn btn-primary" style="background-color:#fdd247;border:none">Create a new form</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" data-scroll-reveal-id="2" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <img src="~/images/home.jpg" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                </div>
            </div>
        </div>
    </div>
</div>