<br />
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" data-scroll-reveal-id="3" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <img src="~/images/home1.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                <div class="left-heading">
                    <h4 style="color:darkcyan">Creating stunning forms has never been easier!</h4>
                    <br />
                    <ul>
                        <li style="color:#0a3c5f"><h5>Dynamically create and edit forms</h5></li>
                        <br />
                        <li style="color:#0a3c5f"><h5>Anonymously collect data</h5></li>
                        <br />
                        <li style="color:#0a3c5f"><h5>Share with a single click</h5></li>
                    </ul>
                    <br />
                </div>
                <div class="left-text">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a type="button" style="background-color:darkcyan;border:none" class="btn btn-primary" asp-action="Create" asp-controller="Form">Discover more</a>
                    }

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>