@model Survello.Web.Models.DocumentQuestionViewModel

<div style="display:inline-block;width:80%; color:darkcyan ">
    <div style="text-align:center">
        <h5>@Model.Description</h5>
    </div>
    <div class="row">
        <h6>@Model.FileSize</h6>
        <h6>@Model.FileNumberLimit</h6>
        <div class="row">
            <div class="control">
                <form method="post" enctype="multipart/form-data" asp-controller="Blob" asp-action="Create">
                    <div id="Uploadbox" class="form-group">
                        <label> Select File </label>
                        <input class="form-control" name="files" multiple="multiple" type="file" />
                        <br />
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




