@model Survello.Web.Models.FormViewModel

@{
    ViewData["Title"] = "Create";
}

@{
    int globalRemoveID = 0;

    int globalOptionsID = 0;
}

<div>
    <img class="center" src="~/images/create-form.png" />
</div>
<div style="color:darkcyan">
    <div>
        <div class="col-sm-6">
            <input id="formTitle" class="form-control" value="Untitled" />
            <span id="idSpanTitle_@globalRemoveID" style="color:red"></span>
        </div>
        <br />
        <div class="col-sm-6">
            <input id="formDescription" class="form-control" placeholder="Description" />
        </div>
    </div>
    <br />
</div>

<div id="questions">
</div>

<div class="row">
    <div class="col-md-4">
        <input class="button-custom" type="button" id="btnAddTQ" value="Add Text Question" data-arg1="@globalRemoveID" />
    </div>
    <div class="col-md-4">
        <input class="button-custom" type="button" id="btnAddMCQ" value="Add Options Question" data-arg1="@globalRemoveID" data-arg2="@globalOptionsID" />
    </div>
    <div class="col-md-4">
        <input class="button-custom" type="button" id="btnAddDQ" value="Add Document Question" data-arg1="@globalRemoveID" />
    </div>
</div>

<div class="form-group">
    <input id="submitFormViewModel" type="button" onclick="create()" class="button-custom" value="Create" />
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var globalQuestionID = 0;
        var counter = 0
        let opt = 1;
        let typeOfAction = "Create"
    </script>
    <script src="~/js/create-text-question.js"></script>
    <script src="~/js/create-multiple-choice-question-option.js"></script>
    <script src="~/js/create-document-question.js"></script>
    <script src="~/js/remove-question-option.js"></script>
    <script src="~/js/validate-input-question-form.js"></script>
    <script src="~/js/create-form.js"></script>
}
