@model Survello.Web.Models.CreateFormViewModel


@{
    bool isInEditMode = true;
    //if (!Model.MultipleChoiceQuestions.Any() && !Model.TextQuestions.Any() && !Model.DocumentQuestions.Any())
    //{
    //    isInEditMode = false;
    //}

    if (isInEditMode)
    {
        Model.QuestionNumbers.OrderBy(q => q.Key);

        foreach (var key in Model.QuestionNumbers.Keys)
        {
            var question = Model.QuestionNumbers[key];

            var name = question.GetType().ToString();
            name = name.Substring(name.Length - 9, 9) + "Template";

            <partial name="@name" model="question" />

            @*if (question is TextQuestionViewModel)
            {
                <partial name="TextQuestionTemplate" model="question" />
            }
            if (question is MultipleChoiceQuestionViewModel)
            {
                <partial name="MultipleChoiceQuestionTemplate" model="question" />
            }
            if (question is DocumentQuestionViewModel)
            {
                <partial name="DocumentQuestionTemplate" model="question" />
            }*@
        }
    }
    else
    {
        <div style="border-color:#b4e2f4" class="col-sm-11">
            <div class="form-group">
                <input id="formTitle" class="form-control" value="Untitled" />
                <span id="idSpanTitle" style="color:red"></span>
            </div>
            <div class="form-group">
                <input id="formDescription" class="form-control" placeholder="Description" />
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-md-4">
        <input class="button-custom" type="button" id="btnAddTQ" value="Add Text Question" />
    </div>
    <div class="col-md-4">
        <input class="button-custom" type="button" id="btnAddMCQ" value="Add Options Question" />
    </div>
    <div class="col-md-4">
        <input class="button-custom" type="button" id="btnAddDQ" value="Add Document Question" />
    </div>

    <div id="questions">

    </div>

</div>
<div class="form-group">
    <input id="submitFormViewModel" type="button" onclick="create()" class="button-custom" value="Create" />
</div>
<div>
    <a style="color:darkcyan" asp-action="ListForms">Back to List</a>
</div>

