                `

<div style="display:inline-block;width:80%; color:darkcyan ">
    <div style="text-align:center">
        <input type="text" class="form-control" id="descriptionDQ${dq}" placeholder="Enter your question">
    </div>
    <div class="row">
        <div class="dropdown pull-left" id="FileNumberLimit${dq}">
            <label class="control-label">
                FileNumberLimit
                <select id="select1" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </label>
        </div>
        <div class="dropdown pull-right" id="FileSize${dq}">
            <label class="control-label">
                FileSize
                <select id="select1" class="form-control">
                    <option value="1">1MB</option>
                    <option value="10">10MB</option>
                    <option value="100">100MB</option>
                    <option value="1000">1GB</option>
                </select>
            </label>
        </div>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="isRequiredDQ${dq}">
        <label class="custom-control-label" for="isRequiredDQ${dq}">Required</label>
    </div>
</div>
<br />
<br />

<script type="text/javascript" src="./index.js">

